@import url("https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:wght@300;400;500;600;800&display=swap");

// default //
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
  display: inline-block;
}
.max-width {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}

// colors //
$primary-color: #fff;
$secondary-color: #30464b;
$bg-color: black;

// fontFamily //
$fontSecondary: "Paytone One", sans-serif;
$letterSpacing: 0.1rem;

// transition //
$transition: all 0.3s ease-out;

// mixins //
@mixin houseImage($image) {
  background: url($image);
  background-size: cover;
  background-repeat: no-repeat;
}

// mixin media query //
$breakpoints: (
  "small-phone": 300px,
  "phone": 560px,
  "tablet": 768px,
  "desktop": 1024px,
  "large-desktop": 1920px,
);

@mixin breakpoint($device) {
  @media (max-width: map-get($breakpoints, $device)) {
    @content;
  }
}
